<h1>Edit Offer</h1>
<p class="message"></p>
<form action="/custom/edit/{{_id}}" method="post">
    <div>
        <input type="text" name="name" placeholder="Name..." value="{{name}}">
    </div>
    <div>
        <input type="text" name="price" placeholder="Price..." value="{{price}}">
    </div>
    <div>
        <input type="text" name="imageUrl" placeholder="Image url..." value="{{imageUrl}}">
    </div>
    <div>
        <textarea name="description" placeholder="Give us some description about this offer...">{{description}}</textarea>
    </div>
    <div>
        <input type="text" name="brand" placeholder="Brand..." value="{{brand}}">
    </div>
    <div>
        <button>Edit</button>
    </div>
</form>

{{log this}}