{{#with play}}
    <div class="container">

        <section class="details">
            <h1>{{title}}</h1>
            <div>
                <img src="{{imageUrl}}"/>
            </div>
        </section>

        <section class="details">
            <h3>Theater Description</h3>
            <p>{{description}}</p>
            <div class="buttons">
                {{#if isOwn}}
                    <a class="btn delete" href="/play/delete/{{_id}}">Delete</a>
                    <a class="btn edit" href="/play/edit/{{_id}}">Edit</a>
                {{else}}
                    {{#if alreadyLiked}}
                        <span class="liked">You have already liked this play!</span>
                    {{else}}
                        <a class="btn like" href="/play/like/{{_id}}">Like</a>
                    {{/if}}
                {{/if}}
            </div>
        </section>
    </div>
{{/with}}

