<div>
    <div class="home-image">
        <img src="{{imageUrl}}"
             alt="Card image cap" width="400">
    </div>
    <div class="info">
        <h4>{{description}}</h4>
        {{#if @root.user}}
            {{#with @root.user}}
                <div class="info-buttons">
                    <a class="btn details" href="/play/details/{{_id}}">Details</a>
                    <span class="likes">
                        {{#if usersLiked.length}}
                            {{usersLiked.length}}
                        {{else}}
                            0
                        {{/if}} likes</span>
                </div>
            {{/with}}
        {{/if}}
    </div>
</div>
